Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

website: update footer. #102
  package.json
  scripts/create.mjs
  scripts/nodes/footer.mjs
  scripts/style/style.css
Due: prettier --write

website: update footer. #102
  scripts/nodes/footer.mjs
Due: prettier --write

chore: update issue template.
  .github/ISSUE_TEMPLATE/cheatsheet-request.md
Due: none

doc: update cpp.md #77
  docs/cpp.md
Due: markdownlint --fix ./docs

website: update linenumber style.
  scripts/style/style.css
Due: prettier --write

doc: update git.md
  docs/git.md
Due: markdownlint --fix ./docs

doc: update quickreference.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

released v1.22.0
  package.json
Due: prettier --write

website: add search data. #105
  scripts/create.mjs
  scripts/index.mjs
  scripts/utils/getTocsTree.mjs
  scripts/utils/rehypeTitle.mjs
Due: prettier --write

chore: compress search data. #105 #32
  scripts/index.mjs
Due: prettier --write

docs: add string to json array (#114)
  docs/jq.md
Due: markdownlint --fix ./docs

doc: update README.md
  README.md
Due: none

chore: format search data. #105 #32
  scripts/index.mjs
Due: prettier --write

website: fix search data error. #105 #32
  scripts/create.mjs
  scripts/index.mjs
Due: prettier --write

doc: update ansible.md (#116)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update vue.md (#117)
  docs/vue.md
Due: markdownlint --fix ./docs

doc: Update latex.md 添加希腊和希伯来字母 (#119)
  docs/latex.md
Due: markdownlint --fix ./docs

docs(dockerfile):添加用于减小镜像体积的多阶段构建 (#120)
  docs/dockerfile.md
Due: markdownlint --fix ./docs

doc: Update dockerfile.md #120
  docs/dockerfile.md
Due: markdownlint --fix ./docs

docs(ansible): update ansible.md (#121)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: upate vue2.md (#122)
  docs/vue2.md
Due: markdownlint --fix ./docs

doc: update vue2.md #122
  docs/vue2.md
Due: markdownlint --fix ./docs

doc: update vue.md (#123)
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update vue.md (#125)
  docs/vue.md
Due: markdownlint --fix ./docs

chore: update scripts.
  scripts/index.mjs
Due: prettier --write

doc: update vue.md #125
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update vue.md (#126)
  docs/vue.md
Due: markdownlint --fix ./docs

feat: add cmd.md (#128)
  README.md
  docs/cmd.md
  scripts/assets/cmd.svg
Due: markdownlint --fix ./docs

website: fix footer timezone bug (#127)
  scripts/nodes/footer.mjs
Due: prettier --write

doc: update cmd.md. #128
  docs/cmd.md
Due: markdownlint --fix ./docs

feat: add apt.md (#131)
  README.md
  docs/apt.md
Due: markdownlint --fix ./docs

docs: update vue.md (#130)
  docs/vue.md
Due: markdownlint --fix ./docs

docs: update css.md (#132)
  docs/css.md
Due: markdownlint --fix ./docs

docs: update vue.md (#136)
  docs/vue.md
Due: markdownlint --fix ./docs

feat: add tar.md (#134)
  README.md
  docs/tar.md
  scripts/assets/tar.svg
Due: markdownlint --fix ./docs

feat: add lua.md (#133)
  README.md
  docs/lua.md
  scripts/assets/lua.svg
Due: markdownlint --fix ./docs

doc: Update swift.md (#137)
  docs/swift.md
Due: markdownlint --fix ./docs

feat: add pytorch.md (#138)
  README.md
  docs/pytorch.md
Due: markdownlint --fix ./docs

doc: update lua.md #133
  docs/lua.md
Due: markdownlint --fix ./docs
