Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

chore: update cheatsheet-request.yml
  .github/ISSUE_TEMPLATE/cheatsheet-request.yml
Due: none

chore: add bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: update bug-report.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

doc: update docs/css.md
  docs/css.md
Due: markdownlint --fix ./docs

doc: update docs/nestjs.md
  docs/nestjs.md
Due: markdownlint --fix ./docs

released v1.37.0
  package.json
Due: prettier --write

dpc: Update README.md (#376) (#102)
  README.md
Due: none

docs: Update README.md (#377) (#102)
  README.md
Due: none

doc: update docs/emoji.md
  docs/emoji.md
Due: markdownlint --fix ./docs

doc: update docs/typescript.md
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: Update README.md (#102)
  README.md
Due: none

chore: update dependency refs-cli to v1.4.1
  docs/quickreference.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: update docs/ini.md (#379)
  docs/ini.md
Due: markdownlint --fix ./docs

doc: Update README.md
  README.md
Due: none

chore: update .dockerignore. fix #380
  .dockerignore
Due: none

doc: update google-chrome.md (#381)
  docs/google-chrome.md
Due: markdownlint --fix ./docs

doc: update php.md/python.md/yaml.md (#385)
  docs/php.md
  docs/python.md
  docs/yaml.md
Due: markdownlint --fix ./docs

doc: update cs.md (#386)
  docs/cs.md
Due: markdownlint --fix ./docs

doc: update cs.md (#387)
  docs/cs.md
Due: markdownlint --fix ./docs

doc: update README.md (#102) (#388)
  README.md
Due: none

doc: update docs/python.md (#389)
  docs/python.md
Due: markdownlint --fix ./docs

doc: update ansible.md (#391)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update `docs/ansible.md` (#391)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update ansible.md
  docs/ansible.md
Due: markdownlint --fix ./docs

released v1.38.0
  package.json
Due: prettier --write

doc: update docs/python.md (#394)
  docs/python.md
Due: markdownlint --fix ./docs

doc: 更正 django 清单的链接 (#395)
  CONTRIBUTING.md
  README.md
  assets/django.svg
  docs/django.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update README.md (#396)
  README.md
Due: none

doc: update docs/linux-command.md (#398)
  docs/linux-command.md
Due: markdownlint --fix ./docs

doc: Update swiftui.md (#400)
  docs/swiftui.md
Due: markdownlint --fix ./docs
