Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

doc: update flask.md #223
  docs/flask.md
  docs/python.md
Due: markdownlint --fix ./docs

doc: update ffmpeg.md #18
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

doc: update flask.md #223
  docs/flask.md
Due: markdownlint --fix ./docs

doc: update htmx.md
  docs/htmx.md
Due: markdownlint --fix ./docs

doc: update react-native.md
  docs/react-native.md
Due: markdownlint --fix ./docs

released v1.32.0
  package.json
Due: prettier --write

doc: update flask logo.
  assets/flask.svg
  docs/flask.md
Due: markdownlint --fix ./docs

chore: update script.
  package.json
Due: prettier --write

doc: update typescript.md.
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: update flask.md (#228) (#223)
  docs/flask.md
Due: markdownlint --fix ./docs

doc: update java.md (#229)
  docs/java.md
Due: markdownlint --fix ./docs

feat: add feds.md cheatsheet.
  README.md
  docs/feds.md
Due: markdownlint --fix ./docs

doc: update vscode.md (#230)
  docs/vscode.md
Due: markdownlint --fix ./docs

doc: update feds.md.
  docs/feds.md
Due: markdownlint --fix ./docs

feat: add reactrouter.md cheatsheet.
  README.md
  assets/reactrouter.svg
  docs/reactrouter.md
Due: markdownlint --fix ./docs

docs: update golang.md (#231)
  docs/golang.md
Due: markdownlint --fix ./docs

doc: update lua.md.
  docs/lua.md
Due: markdownlint --fix ./docs

chore: support aarch64. #232
  .github/workflows/ci.yml
Due: none

chore: support more platforms. #232
  .github/workflows/ci.yml
Due: none

doc: update make.md (#234)
  docs/make.md
Due: markdownlint --fix ./docs

doc: update README.md. (#235)
  README.md
Due: none

feat: add adb.md cheatsheet. #233
  README.md
  assets/adb.svg
  docs/adb.md
Due: markdownlint --fix ./docs

doc: update quickreference.md.
  docs/quickreference.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

released v1.33.0
  package.json
Due: prettier --write

doc: Update java.md (#240)
  docs/java.md
Due: markdownlint --fix ./docs

feat: add mirror (#239)
  README.md
Due: none

doc: update javascript.md Proxy and Reflect (#243)
  docs/javascript.md
Due: markdownlint --fix ./docs

chore: update README.md #102
  README.md
Due: none

doc: update javascript.md (#243)
  docs/javascript.md
Due: markdownlint --fix ./docs

doc: Update iptables.md (#245)
  docs/iptables.md
Due: markdownlint --fix ./docs

doc: Update cpp.md (#246)
  docs/cpp.md
Due: markdownlint --fix ./docs

feat: add pycharm.md cheatsheet. #244
  README.md
  assets/pycharm.svg
  docs/pycharm.md
Due: markdownlint --fix ./docs

feat: add mongodb.md cheatsheet. #236
  README.md
  assets/mongodb.svg
  docs/mongodb.md
Due: markdownlint --fix ./docs

doc: Update feds.md (#248)
  docs/feds.md
Due: markdownlint --fix ./docs

doc: update feds.md (#248)
  docs/feds.md
Due: markdownlint --fix ./docs

released v1.34.0
  package.json
Due: prettier --write

doc: update README.md. (#252)
  README.md
Due: none

doc: update docs/css.md
  docs/css.md
Due: markdownlint --fix ./docs
