Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

chore: update README.md (#677)
  README.md
Due: none

doc: update stylex.md
  docs/stylex.md
Due: markdownlint --fix ./docs

doc: Update README.md (#102)
  README.md
Due: none

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

doc: Update docs/json.md
  README.md
  docs/json.md
Due: markdownlint --fix ./docs

doc: Update vue.md (#786)
  docs/vue.md
Due: markdownlint --fix ./docs

doc: Update README.md #786
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update dart.md (#801)
  docs/dart.md
Due: markdownlint --fix ./docs

doc: update flutter.md (#800)
  docs/flutter.md
Due: markdownlint --fix ./docs

doc: update golang.md (#802)
  docs/golang.md
Due: markdownlint --fix ./docs

doc: update docs/git.md
  docs/git.md
Due: markdownlint --fix ./docs

feat: add jupyter (#803)
  README.md
  assets/jupyter.svg
  docs/jupyter.md
Due: markdownlint --fix ./docs

refactor: auto
  README.md
  docs/lang/android/adb.md
  docs/lang/linux/ps.md
  docs/lang/linux/tcpdump.md
  docs/lang/linux/top.md
  docs/lang/php/composer.md
  docs/lang/php/phpbrew.md
  docs/practice/curl备忘.md
  docs/practice/git备忘.md
Due: none

refactor: update dependence
  package.json
Due: prettier --write

feat: update reference cli package
  package.json
Due: prettier --write

feat: update
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/win.yml
  .refsrc.json
  package.json
Due: prettier --write

Update pages.yml
  .github/workflows/pages.yml
Due: none

feat: auto
  README.md
  docs/practice/curl备忘.md
Due: none

Deploying to pages from @ 4a698ac84cd5621d9718b250c5aa7d17aa828570 🚀
  data.js
  data.json
  docs/practice/curl备忘.html
  index.html
Due: prettier --write

refactor: auto
  README.md
  docs/practice/curl.md
  docs/practice/git.md
  docs/practice/linux-dd.md
Due: none

Deploying to pages from @ b9937c12dddb2420361e2ff24a2206e1d0a0b15a 🚀
  data.js
  data.json
  docs/practice/curl.html
  docs/practice/git.html
  docs/practice/linux-dd.html
  index.html
Due: prettier --write

Deploying to pages from @ d1e49d8d43678d49b6faae872e119894378bb699 🚀
  data.js
  data.json
  index.html
Due: prettier --write

fixed: update curl example
  docs/practice/curl.md
Due: none

Deploying to pages from @ f6149f164361815b7162a6f9cb94b26d13bf816f 🚀
  data.js
  data.json
  docs/practice/curl.html
  index.html
Due: prettier --write

feat: more update
  README.md
  docs/lang/linux/ps.md
  docs/practice/CURL-实践.md
  docs/practice/Linux-dd-实践.md
  docs/practice/git-实践.md
  docs/software/backend/mitmproxy.md
  package.json
Due: prettier --write

Deploying to pages from @ 2463b8c0c6c64bad6f6973ba2875010da3fc6765 🚀
  data.js
  data.json
  docs/lang/android/adb.html
  docs/lang/linux/ps.html
  docs/lang/linux/tcpdump.html
  docs/lang/linux/top.html
  docs/lang/php/composer.html
  docs/lang/php/phpbrew.html
  docs/practice/CURL-实践.html
  docs/practice/Linux-dd-实践.html
  docs/practice/git-实践.html
  docs/shortcut/sourcetree.html
  docs/shortcut/vim.html
  docs/shortcut/vimium.html
  docs/shortcut/vscode.html
  docs/software/backend/mitmproxy.html
  docs/software/backend/mysql.html
  docs/software/backend/nginx.html
  docs/software/backend/redis.html
  docs/software/docker.html
  docs/software/frontend/build.html
  docs/software/frontend/pm2.html
  index.html
Due: prettier --write

chore: release v0.0.1
  README.md
  docs/lang/php/phpbrew.md
  docs/practice/git-实践.md
  docs/shortcut/sourcetree.md
  docs/software/backend/mysql.md
  docs/software/backend/nginx.md
  docs/software/backend/redis.md
  docs/software/docker.md
  docs/software/frontend/build.md
  docs/software/frontend/pm2.md
  docs/software/mitmproxy.md
  docs/system/linux/audit.md
  docs/system/linux/dd.md
  docs/system/linux/ps.md
  docs/system/linux/tcpdump.md
  docs/system/linux/top.md
Due: none

Deploying to pages from @ d6564b528cbacb125f7ed0d15395a0474b2298a3 🚀
  data.js
  data.json
  docs/lang/php/phpbrew.html
  docs/practice/git-实践.html
  docs/shortcut/sourcetree.html
  docs/software/backend/mysql.html
  docs/software/backend/nginx.html
  docs/software/backend/redis.html
  docs/software/docker.html
  docs/software/frontend/build.html
  docs/software/frontend/pm2.html
  docs/software/mitmproxy.html
  docs/system/linux/audit.html
  docs/system/linux/dd.html
  docs/system/linux/ps.html
  docs/system/linux/tcpdump.html
  docs/system/linux/top.html
  index.html
Due: prettier --write

Deploying to pages from @ 0759b50e5f1eafe860f20d97521b66ee8f893470 🚀
  data.js
  data.json
  index.html
Due: prettier --write

feat: add auto commit dependence lib
  package.json
Due: prettier --write

Deploying to pages from @ a9b4efa25c13186c4644a265f7b0241a1b23cd8f 🚀
  data.js
  data.json
  index.html
Due: prettier --write

Deploying to pages from @ 0d8770fe859b45aab3a861386431e91bc9bc46a4 🚀
  data.js
  data.json
  index.html
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
