Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

doc: Update cpp.md (#254)
  docs/cpp.md
Due: markdownlint --fix ./docs

doc: update cpp.md (#254)
  docs/cpp.md
Due: markdownlint --fix ./docs

doc: update cpp.md (#255)
  docs/cpp.md
Due: markdownlint --fix ./docs

doc: update cpp.md #255
  docs/cpp.md
Due: markdownlint --fix ./docs

doc: Update README.md (#258)
  README.md
Due: none

doc: Update README.md (#259)
  README.md
Due: none

doc: update README.md #102
  README.md
Due: none

feat: add ps.md cheatsheet. #251
  README.md
  docs/ps.md
Due: markdownlint --fix ./docs

feat: add kubernetes.md cheatsheet. #44
  README.md
  assets/kubernetes.svg
  docs/kubernetes.md
Due: markdownlint --fix ./docs

doc: update julia.md
  README.md
  docs/julia.md
Due: markdownlint --fix ./docs

doc: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

doc: update kotlin.md
  docs/kotlin.md
Due: markdownlint --fix ./docs

released v1.35.0
  package.json
Due: prettier --write

doc: Update java.md (#261)
  docs/java.md
Due: markdownlint --fix ./docs

doc: update java.md (#261)
  docs/java.md
Due: markdownlint --fix ./docs

doc: update README.md #206
  README.md
Due: none

doc: Update README.md (#263)
  README.md
Due: none

doc: update cs.md (#266)
  docs/cs.md
Due: markdownlint --fix ./docs

doc: Update README.md (#270)
  README.md
Due: none

doc: update javascript.md (#271)
  docs/javascript.md
Due: markdownlint --fix ./docs

doc: update nextjs.md (#274)
  docs/nextjs.md
Due: markdownlint --fix ./docs

doc: update javascript.md (#281)
  docs/javascript.md
Due: markdownlint --fix ./docs

doc: update golang.md (#282)
  docs/golang.md
  docs/jquery.md
Due: markdownlint --fix ./docs

doc: Update regex.md (#278)
  docs/regex.md
Due: markdownlint --fix ./docs

doc: Update regex.md (#277)
  docs/regex.md
Due: markdownlint --fix ./docs

doc: update golang.md (#282)
  docs/golang.md
Due: markdownlint --fix ./docs

doc: update README.md
  README.md
Due: none

doc: Update docker.md (#292)
  docs/docker.md
Due: markdownlint --fix ./docs

doc: Update docker.md (#294)
  docs/docker.md
Due: markdownlint --fix ./docs

doc: update google-chrome.md (#298)
  docs/google-chrome.md
Due: markdownlint --fix ./docs

doc: update python.md (#297)
  docs/python.md
Due: markdownlint --fix ./docs

Update rust.md (#296)
  docs/rust.md
Due: markdownlint --fix ./docs

doc: python.md (#299)
  docs/python.md
Due: markdownlint --fix ./docs

chore(deps): update dependency refs-cli to ^1.3.2 (#279)
  package.json
Due: prettier --write

doc: Update adb.md & homebrew.md and delete repeated mirror items (#304)
  CONTRIBUTING.md
  README.md
  docs/adb.md
  docs/homebrew.md
Due: markdownlint --fix ./docs

doc: update homebrew.md
  docs/homebrew.md
  docs/python.md
Due: markdownlint --fix ./docs

released v1.36.0
  package.json
Due: prettier --write

chore: update workflows config.
  .github/workflows/ci.yml
Due: none

fix: typo adb.md (#306)
  docs/adb.md
Due: markdownlint --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
