Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

released v1.41.0
  package.json
Due: prettier --write

ci: update workflows config.
  .github/workflows/ci.yml
Due: none

doc: Update README.md #102
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

doc: update git.md (#472)
  docs/git.md
Due: markdownlint --fix ./docs

feat: add github-copilot.md (#475)
  .dockerignore
  README.md
  assets/github-copilot.svg
  docs/github-copilot.md
Due: markdownlint --fix ./docs

ci: update workflows config.
  .github/workflows/win.yml
Due: none

chore: update .dockerignore
  .dockerignore
Due: none

doc: Update docs/javascript.md
  docs/javascript.md
Due: markdownlint --fix ./docs

doc: update docker.md (#479)
  docs/docker.md
Due: markdownlint --fix ./docs

doc: update docs/tar.md (#480)
  docs/tar.md
Due: markdownlint --fix ./docs

doc: update docs/kotlin.md (#482)
  docs/kotlin.md
Due: markdownlint --fix ./docs

doc: Update README.md (#484 #102)
  README.md
Due: none

doc: Update linux-command.md (#491)
  docs/linux-command.md
Due: markdownlint --fix ./docs

doc: update docs/linux-command.md #491
  docs/linux-command.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update docs/kotlin.md
  docs/kotlin.md
Due: markdownlint --fix ./docs

doc: update docs/docker.md
  docs/docker.md
Due: markdownlint --fix ./docs

doc: Update README.md (#492) (#102)
  README.md
Due: none

doc: update nginx.md (#493)
  docs/nginx.md
Due: markdownlint --fix ./docs

doc: update docs/nginx.md #493
  docs/nginx.md
Due: markdownlint --fix ./docs

doc: Update README.md (#102)
  README.md
Due: none

doc: update README.md (#102 #496)
  README.md
Due: none

feat: add chown.md (#503)
  CONTRIBUTING.md
  README.md
  assets/chown.svg
  docs/chown.md
Due: markdownlint --fix ./docs

doc: update docs/chown.md #503
  docs/chown.md
Due: markdownlint --fix ./docs

fix: update docs/markdown.md (#509)
  docs/markdown.md
Due: markdownlint --fix ./docs

doc: Update linux-command.md
  docs/linux-command.md
Due: markdownlint --fix ./docs

doc: update docs/cs.md (#514)
  docs/cs.md
Due: markdownlint --fix ./docs

doc: update docs/kotlin.md (#515)
  docs/kotlin.md
Due: markdownlint --fix ./docs

doc: update docs/dart.md (#516)
  docs/dart.md
Due: markdownlint --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
