Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

doc: update github-action.md (#184)
  .github/workflows/ci.yml
  .github/workflows/win.yml
Due: none

doc: update cocoapods.md
  docs/cocoapods.md
Due: markdownlint --fix ./docs

doc: update typescript.md (#186)
  docs/typescript.md
Due: markdownlint --fix ./docs

feat: add react-native.md cheatsheet.
  README.md
  assets/react-native.svg
  docs/react-native.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: update react-native.md
  docs/react-native.md
Due: markdownlint --fix ./docs

doc: update quickreference.md #189
  docs/quickreference.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: update quickreference.md.
  docs/quickreference.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

released v1.29.0
  package.json
Due: prettier --write

doc: Update READMe.md #102
  README.md
Due: none

feat: add pm2.md cheatsheet.
  README.md
  assets/pm2.svg
  docs/pm2.md
Due: markdownlint --fix ./docs

feat: add adobe-photoshop.md cheatsheet.
  README.md
  assets/adobe-photoshop.svg
  docs/adobe-photoshop.md
  docs/github-actions.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

feat: add android-studio.md cheatsheet.
  README.md
  assets/android-studio.svg
  docs/android-studio.md
Due: markdownlint --fix ./docs

feat: add github.md cheatsheet.
  README.md
  assets/github.svg
  docs/github.md
Due: markdownlint --fix ./docs

doc: update sublime-text.md
  assets/github.svg
  docs/sublime-text.md
Due: markdownlint --fix ./docs

doc: update android-studio.md
  docs/android-studio.md
Due: markdownlint --fix ./docs

doc: update sublime-text.md
  docs/sublime-text.md
Due: markdownlint --fix ./docs

feat: add google-chrome.md cheatsheet.
  README.md
  assets/google-chrome.svg
  docs/google-chrome.md
Due: markdownlint --fix ./docs

feat: add gitlab.md cheatsheet.
  README.md
  assets/gitlab.svg
  docs/github.md
  docs/gitlab.md
Due: markdownlint --fix ./docs

feat: add firefox.md cheatsheet.
  README.md
  assets/firefox.svg
  docs/firefox.md
Due: markdownlint --fix ./docs

chore: update workflows config.
  .github/workflows/ci.yml
Due: none

released v1.30.0
  package.json
Due: prettier --write

feat: add redis.md cheatsheet. (#191)
  assets/redis.svg
  docs/redis.md
Due: markdownlint --fix ./docs

doc: Add quickref.pipecraft.net to the home page. #102
  README.md
  package.json
Due: prettier --write

doc: update redis.md #191
  README.md
  docs/redis.md
Due: markdownlint --fix ./docs

doc: update redis.md #191
  docs/redis.md
Due: markdownlint --fix ./docs

feat: add adobe-lightroom.md cheatsheet.
  README.md
  assets/adobe-lightroom.svg
  docs/adobe-lightroom.md
  docs/adobe-photoshop.md
Due: markdownlint --fix ./docs

feat: add adobe-xd.md cheatsheet.
  README.md
  assets/adobe-xd.svg
  docs/adobe-xd.md
Due: markdownlint --fix ./docs

doc: update README.md
  README.md
Due: none

docs: update rust range (#194)
  docs/rust.md
Due: markdownlint --fix ./docs

feat: add iptables cheatsheet. #192
  README.md
  docs/iptables.md
Due: markdownlint --fix ./docs

doc: add mirror (#197)
  README.md
Due: none

doc: add mirror (#199)
  README.md
Due: none

feat: add htmx.md cheatsheet.
  README.md
  docs/htmx.md
Due: markdownlint --fix ./docs

doc: add badges.
  docs/electron.md
  docs/htmx.md
  docs/lessjs.md
  docs/nextjs.md
  docs/react-native.md
  docs/react.md
  docs/sass.md
  docs/styled-components.md
  docs/stylus.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: Update Home page.
  README.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
