Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

doc: update pytorch.md #138
  README.md
  docs/pytorch.md
  scripts/assets/pytorch.svg
Due: markdownlint --fix ./docs

doc: update css.md
  docs/css.md
Due: markdownlint --fix ./docs

doc: update tar.md #134
  docs/tar.md
Due: markdownlint --fix ./docs

doc: update lua logo. #133
  README.md
  scripts/assets/lua.svg
Due: none

released v1.23.0
  package.json
Due: prettier --write

doc: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

doc: update README.md
  README.md
Due: none

feat: add sysdig.md #113
  README.md
  docs/sysdig.md
  scripts/assets/sysdig.svg
Due: markdownlint --fix ./docs

doc: update lua.md (#139) (#62)
  docs/lua.md
Due: markdownlint --fix ./docs

doc: update typescript.md.
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: update latex.md (#140)
  docs/latex.md
Due: markdownlint --fix ./docs

doc: update latex.md #140
  docs/latex.md
Due: markdownlint --fix ./docs

doc: update latex.md #47
  docs/latex.md
  package.json
  scripts/create.mjs
Due: prettier --write, markdownlint --fix ./docs

doc: continue to erite lua.md (#142)
  docs/lua.md
Due: markdownlint --fix ./docs

doc: update latex.md #47
  docs/latex.md
  scripts/style/katex.css
Due: prettier --write, markdownlint --fix ./docs

doc: update latex.md #47
  docs/latex.md
Due: markdownlint --fix ./docs

feat: add openssl.md #141
  README.md
  docs/openssl.md
  scripts/assets/openssl.svg
Due: markdownlint --fix ./docs

docs: update dart.md (#145)
  docs/dart.md
Due: markdownlint --fix ./docs

doc: update dart.md #145
  docs/dart.md
Due: markdownlint --fix ./docs

docs: update vue.md (#144)
  docs/vue.md
Due: markdownlint --fix ./docs

doc: continue to erite lua.md (#143)
  docs/lua.md
Due: markdownlint --fix ./docs

docs: update dart.md (#147)
  docs/dart.md
Due: markdownlint --fix ./docs

doc: update find.md (#148)
  docs/find.md
Due: markdownlint --fix ./docs

website: add search feature. #32
  scripts/assets/search.svg
  scripts/create.mjs
  scripts/index.mjs
  scripts/js/fuse.min.js
  scripts/js/main.js
  scripts/nodes/footer.mjs
  scripts/nodes/header.mjs
  scripts/nodes/search.mjs
  scripts/style/style.css
  scripts/utils/anchorPoint.mjs
  scripts/utils/darkMode.mjs
  scripts/watch.mjs
Due: prettier --write

website: update dark theme issue.
  scripts/js/dark.js
  scripts/js/main.js
  scripts/nodes/header.mjs
  scripts/utils/darkMode.mjs
Due: prettier --write

released v1.24.0
  package.json
Due: prettier --write

docs: add flutter.md (#149)
  README.md
  docs/flutter.md
  scripts/assets/flutter.svg
Due: markdownlint --fix ./docs

doc: update homebrew.md (#150)
  README.md
  docs/homebrew.md
Due: markdownlint --fix ./docs

doc: update flutter.md #58 #149
  README.md
  docs/flutter.md
  scripts/style/style.css
Due: prettier --write, markdownlint --fix ./docs

doc: update flutter.md #58 #149
  docs/flutter.md
Due: markdownlint --fix ./docs

feat: add mitmproxy.md #60
  README.md
  docs/mitmproxy.md
  scripts/assets/mitmproxy.svg
Due: markdownlint --fix ./docs

doc: update mitmproxy.md #60
  docs/mitmproxy.md
Due: markdownlint --fix ./docs

website: search input add palceholder.
  scripts/nodes/search.mjs
  scripts/style/style.css
Due: prettier --write

docs: add nestjs.md (#151) (#29)
  README.md
  docs/nestjs.md
  scripts/assets/nestjs.svg
Due: markdownlint --fix ./docs

doc: update nestjs.md #29
  docs/nestjs.md
  scripts/assets/nestjs.svg
Due: markdownlint --fix ./docs

doc: maybe better translate of cs.md (#152)
  docs/cs.md
Due: markdownlint --fix ./docs

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
