Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

doc: update workflows config.
  .github/workflows/ci.yml
Due: none

released v1.26.0
  package.json
Due: prettier --write

doc(nginx): fix typo in nginx.md (#169)
  docs/nginx.md
Due: markdownlint --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: update `bash.md`.
  docs/bash.md
Due: markdownlint --fix ./docs

doc: update github-actions.md
  docs/github-actions.md
Due: markdownlint --fix ./docs

feat: add gitlab-ci.md cheatsheet. #170
  docs/gitlab-ci.md
Due: markdownlint --fix ./docs

doc: update README.md #170
  README.md
  scripts/assets/gitlab-ci.svg
Due: none

doc: update jq.md #27
  docs/jq.md
Due: markdownlint --fix ./docs

doc: Update README.md
  README.md
  scripts/style/style.css
Due: prettier --write

doc: update npm.md
  docs/npm.md
Due: markdownlint --fix ./docs

doc: update typescript.md
  docs/typescript.md
  scripts/nodes/search.mjs
  scripts/style/style.css
Due: prettier --write, markdownlint --fix ./docs

fix: fix bugs that caused search issue.
  docs/package.json.md
Due: markdownlint --fix ./docs

doc: update quickreference.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update README.md #102
  README.md
Due: none

doc: update git.md
  docs/git.md
Due: markdownlint --fix ./docs

chore(deps): update dependency refs-cli to v0.0.6 fix #173
  package.json
Due: prettier --write

chore: the dependencies of pnpm (#174)
  .npmrc
Due: none

doc: update gitlab-ci.md #170
  docs/gitlab-ci.md
Due: markdownlint --fix ./docs

doc: update flutter.md (#175) (#58)
  CONTRIBUTING.md
  README.md
  docs/flutter.md
Due: markdownlint --fix ./docs

doc: update README.md #102
  README.md
  docs/gitlab-ci.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: update README.md
  README.md
  package.json
Due: prettier --write

doc: update .gitattributes
  .gitattributes
Due: none

released v1.27.0
  package.json
Due: prettier --write

doc: update rust.md (#178)
  docs/rust.md
Due: markdownlint --fix ./docs

doc: update github-actions.md #170
  README.md
  docs/github-actions.md
Due: markdownlint --fix ./docs

doc: update flutter.md (#179)
  docs/flutter.md
Due: markdownlint --fix ./docs

feat: add nextjs.md cheatsheet.
  README.md
  assets/nextjs.svg
  docs/nextjs.md
Due: markdownlint --fix ./docs

doc: update flutter.md #179 #58
  docs/flutter.md
Due: markdownlint --fix ./docs

released v1.28.0
  package.json
Due: prettier --write

doc: Update ffmpeg.md (#180)
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

doc: update rust.md (#181) (#20)
  docs/rust.md
Due: markdownlint --fix ./docs

fix: webstorm.md (#182)
  docs/webstorm.md
Due: markdownlint --fix ./docs
