Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

docs: add make cheatsheet (#202) #200
  README.md
  docs/make.md
Due: markdownlint --fix ./docs

doc: Update typescript.md
  README.md
  docs/react.md
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: update make.md #200
  docs/make.md
Due: markdownlint --fix ./docs

doc: update typescript.md
  docs/react.md
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: change domain (#205)
  README.md
Due: none

doc: update make.md (#203)
  docs/make.md
Due: markdownlint --fix ./docs

doc: Update README.md (#204)
  README.md
Due: none

doc: update vue.md #10 add typescript example
  docs/vue.md
Due: markdownlint --fix ./docs

feat: add aspect-ratio.md cheatsheet.
  README.md
  docs/aspect-ratio.md
Due: markdownlint --fix ./docs

doc: update README.md #102
  README.md
Due: none

doc: Update README.md
  README.md
Due: none

doc: Update README.md #206 #102
  README.md
  docs/github-actions.md
Due: markdownlint --fix ./docs

docs: add makefile var (#207)
  docs/make.md
Due: markdownlint --fix ./docs

doc: update css.md
  docs/css.md
Due: markdownlint --fix ./docs

doc: add mirror ref.eryajf.net (#208)
  README.md
Due: none

docs: add makefile (#209) #200
  docs/make.md
Due: markdownlint --fix ./docs

doc: update jest.md #212.
  docs/jest.md
Due: markdownlint --fix ./docs

doc: add badges.
  docs/expressjs.md
  docs/jest.md
  docs/koajs.md
  docs/lerna.md
  docs/lessjs.md
  docs/nestjs.md
  docs/pm2.md
  docs/vue.md
Due: markdownlint --fix ./docs

released v1.31.0
  package.json
Due: prettier --write

doc: add intelli-j-idea.md cheatsheet.
  README.md
  assets/intelli-j-idea.svg
  docs/intelli-j-idea.md
Due: markdownlint --fix ./docs

doc: update README.md (#213) (#102)
  README.md
Due: none

doc: update make.md (#214)
  docs/make.md
Due: markdownlint --fix ./docs

doc: update make.md (#215)
  docs/make.md
Due: markdownlint --fix ./docs

doc: update git.md (#216)
  docs/git.md
Due: markdownlint --fix ./docs

doc: update git.md
  docs/git.md
Due: markdownlint --fix ./docs

feat: add jquery.md cheatsheet. #217
  README.md
  assets/jquery.svg
  docs/jquery.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

doc: Update README.md (#218)
  README.md
Due: none

doc: update docker.md, dockerfile.md (#219)
  docs/docker.md
  docs/dockerfile.md
Due: markdownlint --fix ./docs

feat: add tailwindcss.md cheatsheet.
  README.md
  assets/tailwindcss.svg
  docs/systemd.md
  docs/tailwindcss.md
Due: markdownlint --fix ./docs

doc: update css.md
  docs/css.md
  package.json
Due: prettier --write, markdownlint --fix ./docs

chore: update workflows config.
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: update workflows config.
  .github/workflows/ci.yml
Due: none

doc: update bash.md
  docs/bash.md
Due: markdownlint --fix ./docs

doc: update flutter.md (#220)
  docs/flutter.md
Due: markdownlint --fix ./docs

doc: update react-native.md
  docs/react-native.md
Due: markdownlint --fix ./docs

doc: update python.md (#221)
  README.md
  docs/python.md
Due: markdownlint --fix ./docs

feat: add flask.md cheatsheet (#222)
  README.md
  assets/flask.svg
  docs/flask.md
Due: markdownlint --fix ./docs
