Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

doc: update cs.md #153 #152
  docs/cs.md
Due: markdownlint --fix ./docs

fix: fix search error & add name field in data.json #105
  README.md
  scripts/create.mjs
  scripts/js/main.js
  scripts/style/style.css
  scripts/utils/homeCardIcons.mjs
Due: prettier --write

doc: update vue.md #10
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update vue3 (#154) (#10)
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update quickreference.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update vue.md #154 #10
  docs/vue.md
Due: markdownlint --fix ./docs

doc: update markdown.md
  docs/markdown.md
Due: markdownlint --fix ./docs

doc: redhat typo (#157)
  README.md
  docs/yum.md
Due: markdownlint --fix ./docs

doc(git): update git.md (#156)
  docs/git.md
Due: markdownlint --fix ./docs

doc: c++ typo & update READMe.md (#158)
  README.md
Due: none

website: add search enter shortcat key to jump to the page.
  scripts/js/main.js
  scripts/style/style.css
Due: prettier --write

doc: fix #160
  docs/golang.md
Due: markdownlint --fix ./docs

webite: optimize search result. fix #159
  scripts/js/main.js
Due: none

docs: update markdown.md (#163)
  docs/markdown.md
Due: markdownlint --fix ./docs

test: add workflows config.
  .github/workflows/win.yml
Due: none

chore: fix scripts issue.
  scripts/index.mjs
Due: prettier --write

chore: udpate workflows config.
  .github/workflows/win.yml
Due: none

website: fix windows path issue. #161
  scripts/index.mjs
  scripts/utils/darkMode.mjs
Due: prettier --write

website: add search arrow selection.
  scripts/js/main.js
  scripts/nodes/search.mjs
Due: prettier --write

released v1.25.0
  package.json
Due: prettier --write

website: fix search page turning error. #32
  scripts/js/main.js
Due: none

doc: update styled-components.md
  docs/styled-components.md
Due: markdownlint --fix ./docs

doc: update README.md #161
  README.md
Due: none

doc: update README.md #102
  README.md
Due: none

website: custom nav menus. #102
  package.json
  scripts/nodes/header.mjs
  scripts/nodes/logo.mjs
  scripts/style/style.css
Due: prettier --write

doc: Update CONTRIBUTING.md #102.
  CONTRIBUTING.md
  README.md
Due: none

feat: add laravel.md #166
  README.md
  docs/laravel.md
  scripts/assets/laravel.svg
  scripts/js/main.js
Due: markdownlint --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: Update README.md #102
  README.md
Due: none

feat: add oracle.md cheatsheet. #63
  README.md
  docs/oracle.md
  scripts/assets/oracle.svg
Due: markdownlint --fix ./docs

feat: update oracle.md. #63
  docs/oracle.md
Due: markdownlint --fix ./docs

website: update create.mjs
  scripts/create.mjs
Due: prettier --write

doc: update document.
  docs/cs.md
  docs/html.md
  docs/java.md
  docs/json.md
  docs/php.md
  docs/python.md
Due: markdownlint --fix ./docs

chore: update workflows config.
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{mjs,css,json,prettierrc,lintstagedrc}
  markdownlint --fix ./docs: any of: ./docs/*.md
