Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

feat: Add FastAPI (#422)
  README.md
  assets/fastapi.svg
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update docs/fastapi.md #422
  assets/fastapi.svg
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update docs/fastapi.md (#423)
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update docs/fastapi.md (#424)
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update docs/git.md (#425)
  docs/git.md
Due: markdownlint --fix ./docs

doc: update docs/typescript.md
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: Update c.md (#426)
  docs/c.md
Due: markdownlint --fix ./docs

doc: update docs/c.md (#426)
  docs/c.md
Due: markdownlint --fix ./docs

chore(deps): update dependency refs-cli to v1.5.1
  .refsrc.json
  package.json
Due: prettier --write

chore: update .refsrc.json
  .refsrc.json
Due: prettier --write

doc: Update README.md
  README.md
Due: none

doc: Update README.md (#102)
  README.md
Due: none

doc: Update docker.md (#429)
  docs/docker.md
Due: markdownlint --fix ./docs

doc: update docs/python.md (#432)
  docs/python.md
Due: markdownlint --fix ./docs

doc: Update linux-command.md (#433)
  docs/linux-command.md
Due: markdownlint --fix ./docs

doc: Update ci.yml
  .github/workflows/ci.yml
Due: none

doc: Update gitlab-ci.md
  docs/gitlab-ci.md
Due: markdownlint --fix ./docs

doc: update docs/postgres.md (#436)
  docs/postgres.md
Due: markdownlint --fix ./docs

doc: Update feds.md
  docs/feds.md
Due: markdownlint --fix ./docs

doc: update docs/css.md
  docs/css.md
Due: markdownlint --fix ./docs

doc: update typescript.md (#439)
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: update typescript.md (#440)
  docs/typescript.md
Due: markdownlint --fix ./docs

doc: Update README.md (#442)
  README.md
Due: none

doc: update docs/css.md
  docs/css.md
  docs/docker.md
Due: markdownlint --fix ./docs

Correct operator translation (#443)
  docs/github-actions.md
Due: markdownlint --fix ./docs

doc: update docs/nginx.md. (#446)
  docs/nginx.md
Due: markdownlint --fix ./docs

doc: update docs/ruby.md (#448)
  docs/ruby.md
Due: markdownlint --fix ./docs

doc: update docs/python.md (#451)
  docs/python.md
Due: markdownlint --fix ./docs

doc: update docs/feds.md
  docs/feds.md
Due: markdownlint --fix ./docs

released v1.40.0
  package.json
Due: prettier --write

ci: update workflows config.
  .github/workflows/ci.yml
Due: none

doc: update docs/symbol-code.md
  docs/symbol-code.md
Due: markdownlint --fix ./docs

doc: update docs/lua.md
  docs/lua.md
Due: markdownlint --fix ./docs

doc: Update linux-command.md (#467)
  docs/linux-command.md
Due: markdownlint --fix ./docs

chore: add sponsor badge.
  .github/FUNDING.yml
  .github/workflows/ci.yml
  README.md
  package.json
Due: prettier --write
