Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

feat: add `graphql.md`.
  README.md
  docs/graphql.md
  scripts/assets/graphql.svg
Due: markdownlint --fix ./docs

chore: update markdownlint config. (#42)
  .markdownlint.json
Due: prettier --write

doc: add about ffmpeg's content (#45)
  CONTRIBUTING.md
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

doc: update `ffmpeg.md` (#18) (#45)
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

doc: add exports in the package.json (#46)
  docs/package.json.md
Due: markdownlint --fix ./docs

doc: update `package.json.md`. (#46)
  docs/package.json.md
Due: markdownlint --fix ./docs

doc: update npm.md
  docs/npm.md
Due: markdownlint --fix ./docs

doc: add vec and fix some errors in the rust (#48)
  docs/rust.md
Due: markdownlint --fix ./docs

doc: update `rust.md` #48
  docs/rust.md
Due: markdownlint --fix ./docs

released v1.19.0
  package.json
Due: prettier --write

doc: add some content in the rust.md (#50)
  docs/rust.md
Due: markdownlint --fix ./docs

doc: update rust.md #50 #49
  docs/rust.md
Due: markdownlint --fix ./docs

doc: fix error in regex.md
  docs/regex.md
Due: markdownlint --fix ./docs

doc: update regex.md
  docs/regex.md
Due: markdownlint --fix ./docs

website: update style.
  scripts/style/style.css
Due: prettier --write

fix: 修正选择器的真正含义 update css.md (#51)
  docs/css.md
Due: markdownlint --fix ./docs

doc: update `typescript.md`.
  docs/typescript.md
Due: markdownlint --fix ./docs

typo: fix typo content in the vim (#52)
  docs/vim.md
Due: markdownlint --fix ./docs

doc: add fliter in the ffmpeg (#56)
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

chore: update contributors.
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
Due: none

doc: update `quickreference.md`.
  README.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update `ffmpeg.md` #56
  docs/ffmpeg.md
Due: markdownlint --fix ./docs

feat: add `php.md` #57
  README.md
  docs/cron.md
  docs/php.md
  docs/postgres.md
  scripts/assets/php.svg
Due: markdownlint --fix ./docs

doc: add strcut and enum in the rust (#53)
  docs/rust.md
Due: markdownlint --fix ./docs

feat: add `dart.md` #58
  README.md
  docs/dart.md
  docs/python.md
  docs/quickreference.md
  scripts/assets/dart.svg
Due: markdownlint --fix ./docs

feat: add `latex.md` #47
  README.md
  docs/latex.md
  docs/quickreference.md
  scripts/assets/latex.svg
  scripts/utils/getTocsTree.mjs
Due: prettier --write, markdownlint --fix ./docs

released v1.20.0
  package.json
Due: prettier --write

chore: update workflows config.
  .github/workflows/ci.yml
Due: none

chore: add `.gitattributes` file.
  .gitattributes
Due: none

doc: add npx document in npm.md #65
  docs/npm.md
  scripts/style/style.css
Due: prettier --write, markdownlint --fix ./docs

style: optimize scrollbars style (#68)
  scripts/style/style.css
Due: prettier --write

doc: update npm.md #65
  docs/npm.md
Due: markdownlint --fix ./docs

doc: update `css.md`.
  docs/css.md
Due: markdownlint --fix ./docs

doc: update latex.md #47
  docs/latex.md
Due: markdownlint --fix ./docs

feat: add julia.md #59
  README.md
  docs/julia.md
  scripts/assets/julia.svg
Due: markdownlint --fix ./docs

feat: add cs.md #66
  README.md
  docs/cs.md
  scripts/assets/cs.svg
Due: markdownlint --fix ./docs
