Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

doc: Update figma.md (#630)
  docs/figma.md
Due: markdownlint --fix ./docs

doc: Update README.md (#102)
  README.md
Due: none

doc: Update README.md #102
  README.md
Due: none

fet: add docs/Neo4j.md (#636)
  README.md
  assets/Neo4j.svg
  docs/Neo4j.md
Due: markdownlint --fix ./docs

doc: update docs/fastapi.md (#637)
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update docs/java.md #628
  docs/java.md
Due: markdownlint --fix ./docs

doc: update neo4j document #636
  assets/neo4j.svg
  docs/neo4j.md
Due: markdownlint --fix ./docs

doc: update docs/fastapi.md
  docs/fastapi.md
Due: markdownlint --fix ./docs

doc: update neo4j.md (#638)
  docs/neo4j.md
Due: markdownlint --fix ./docs

doc: docs/mysql.md (#639)
  docs/mysql.md
Due: markdownlint --fix ./docs

doc: update docs/cpp.md (#589)
  docs/cpp.md
Due: markdownlint --fix ./docs

doc: Delete docs/Neo4j.md
  docs/Neo4j.md
Due: markdownlint --fix ./docs

doc: Delete assets/Neo4j.svg
  assets/Neo4j.svg
Due: none

doc: update README.md
  README.md
Due: none

doc: Update docker.md (#640)
  docs/docker.md
Due: markdownlint --fix ./docs

doc: update docs/docker.md #640
  docs/docker.md
Due: markdownlint --fix ./docs

doc: update docs/neo4j.md
  docs/neo4j.md
Due: markdownlint --fix ./docs

doc: update README #102 (#643)
  README.md
Due: none

released v1.43.0
  package.json
Due: prettier --write

ci: update workflows config.
  .github/workflows/ci.yml
Due: none

feat: add docs/docker-compose.md (#645)
  README.md
  assets/docker-compose.svg
  docs/docker-compose.md
Due: markdownlint --fix ./docs

doc: update docs/docker-compose.md (#645)
  docs/docker-compose.md
Due: markdownlint --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: update docs/docker-compose.md
  docs/docker-compose.md
Due: markdownlint --fix ./docs

doc(pytorch): update docs/pytorch.md (#649)
  docs/pytorch.md
Due: markdownlint --fix ./docs

doc: update docs/pytorch.md #649
  docs/pytorch.md
Due: markdownlint --fix ./docs

doc: update docs/docker-compose.md (#656)
  docs/docker-compose.md
Due: markdownlint --fix ./docs

feat: add glances (#659)
  README.md
  docs/glances.md
Due: markdownlint --fix ./docs

doc: update docs/glances.md #659 #575
  docs/glances.md
Due: markdownlint --fix ./docs

feat: add docs/vimium.md (#660)
  README.md
  docs/vimium.md
Due: markdownlint --fix ./docs
