Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

doc: update docs/feds.md
  docs/feds.md
Due: markdownlint --fix ./docs

ci: update workflows config.
  .github/workflows/ci.yml
  .github/workflows/win.yml
Due: none

ci: update workflows config.
  .github/workflows/ci.yml
Due: none

released v1.42.0
  package.json
Due: prettier --write

doc: Update README.md
  README.md
Due: none

feat: add `Pacman`.
  README.md
  docs/github-copilot.md
  docs/pandoc.md
Due: markdownlint --fix ./docs

feat: add `finder.md`.
  README.md
  assets/finder.svg
  docs/finder.md
Due: markdownlint --fix ./docs

doc: update docs/sketch.md
  README.md
  docs/sketch.md
Due: markdownlint --fix ./docs

chore: update husky config.
  .husky/pre-commit
  package.json
Due: prettier --write

feat: add docs/r.md #410 #285 #283
  README.md
  assets/r.svg
  docs/r.md
Due: markdownlint --fix ./docs

ci: update workflows config.
  .github/workflows/win.yml
Due: none

doc: Update README.md #102
  README.md
Due: none

doc: update ansible.md (#534)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update docs/ansible.md & update CONTRIBUTING.md (#535)
  CONTRIBUTING.md
  README.md
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update CONTRIBUTING.md #535
  CONTRIBUTING.md
Due: none

doc: update docs/ansible.md (#541)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update docs/ansible.md (#542)
  docs/ansible.md
Due: markdownlint --fix ./docs

doc: update docs/ansible.md #535
  docs/ansible.md
Due: markdownlint --fix ./docs

fix: fix markdown lint issue.
  .markdownlint.json
  docs/google-chrome.md
  docs/make.md
  docs/matlab.md
  docs/nginx.md
Due: prettier --write, markdownlint --fix ./docs

doc: update docs/ansible.md (#543)
  CONTRIBUTING.md
Due: none

chore: Update .gitattributes
  .gitattributes
Due: none

doc: update docs/swift.md (#550)
  docs/swift.md
Due: markdownlint --fix ./docs

doc: update docs/swift.md
  docs/swift.md
Due: markdownlint --fix ./docs

doc: update docs/pytorch.md (#554)
  docs/pytorch.md
Due: markdownlint --fix ./docs

doc: Update README.md (#557) (#102)
  README.md
Due: none

doc: update docs/swift.md (#558)
  docs/swift.md
Due: markdownlint --fix ./docs

doc: Update README.md (#560) #102
  README.md
Due: none

doc: update docs/r.md (#561)
  docs/r.md
Due: markdownlint --fix ./docs

doc: update docs/swiftui.md (#562)
  docs/swiftui.md
Due: markdownlint --fix ./docs

doc: update docs/python.md (#564)
  docs/python.md
Due: markdownlint --fix ./docs
