Repository zhanghuid/reference: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix ./docs

.lintstagedrc:

{
  "**/*.{mjs,css,json,prettierrc,lintstagedrc}": ["prettier --write"],
  "./docs/*.md": ["markdownlint --fix ./docs"]
}

ci: update markdown lint
  .markdownlint.json
Due: prettier --write

doc: update docs/vimium.md #660
  docs/vimium.md
Due: markdownlint --fix ./docs

doc: update docs/quickreference.md
  docs/quickreference.md
Due: markdownlint --fix ./docs

doc: update docs/twitter.md
  README.md
  docs/twitter.md
Due: markdownlint --fix ./docs

doc: Update README.md
  README.md
Due: none

doc: update docs/lua.md (#661)
  docs/lua.md
Due: markdownlint --fix ./docs

doc: update docs/adb.md (#662)
  docs/adb.md
Due: markdownlint --fix ./docs

doc: Update README.md #102
  README.md
Due: none

doc: update docs/github-actions.md
  docs/github-actions.md
Due: markdownlint --fix ./docs

doc: update README.md #102 (#666)
  README.md
Due: none

feat: add springboot (#668)
  README.md
  assets/springboot.svg
  docs/springboot.md
Due: markdownlint --fix ./docs

doc: update springboot.md (#668)
  README.md
  assets/springboot.svg
  docs/springboot.md
Due: markdownlint --fix ./docs

doc: update springboot.md (#668)
  docs/springboot.md
Due: markdownlint --fix ./docs

doc: update README.md
  README.md
Due: none

feat: add chatgpt prompt (#669)
  README.md
  assets/chatgpt.svg
  docs/chatgpt.md
Due: markdownlint --fix ./docs

doc: update docs/chatgpt.md #669
  docs/chatgpt.md
Due: markdownlint --fix ./docs

ci: Update FUNDING.yml
  .github/FUNDING.yml
Due: none

docs: add pnpm memo and update README (#670)
  README.md
  assets/pnpm.svg
  docs/pnpm.md
Due: markdownlint --fix ./docs

doc: Update docs/pnpm.md #670
  README.md
  assets/pnpm.svg
  docs/npm.md
  docs/pnpm.md
Due: markdownlint --fix ./docs

feat: add bun (#671)
  docs/bun.md
Due: markdownlint --fix ./docs

doc: Update bun.md #671
  README.md
  assets/bun.svg
  docs/bun.md
Due: markdownlint --fix ./docs

feats (docs): add Pinia Memo List (#672)
  docs/pinia.md
Due: markdownlint --fix ./docs

doc: update pinia.md #672
  README.md
  assets/pinia.svg
  docs/pinia.md
Due: markdownlint --fix ./docs

feat(docs): add Erlang cheat sheet (#673)
  docs/erlang.md
Due: markdownlint --fix ./docs

doc: update erlang.md #673
  README.md
  assets/erlang.svg
  docs/erlang.md
Due: markdownlint --fix ./docs

doc: update erlang.md #673
  docs/erlang.md
Due: markdownlint --fix ./docs

doc: add rxjs.md cheat sheet (#674)
  docs/rxjs.md
Due: markdownlint --fix ./docs

doc: update xjs.md #674
  README.md
  assets/rxjs.svg
  docs/rxjs.md
Due: markdownlint --fix ./docs

docs(erlang): update docs/erlang.md (#676)
  docs/erlang.md
Due: markdownlint --fix ./docs

doc: update xjs.md #674
  docs/rxjs.md
Due: markdownlint --fix ./docs

doc: update docs/dart.md
  docs/dart.md
Due: markdownlint --fix ./docs

doc: update docs/regex.md
  docs/regex.md
Due: markdownlint --fix ./docs

doc: add hook.md
  README.md
  docs/hook.md
Due: markdownlint --fix ./docs

feat: add stylex.md
  README.md
  assets/stylex.svg
  docs/quickreference.md
  docs/stylex.md
Due: markdownlint --fix ./docs

released v1.44.0
  package.json
Due: prettier --write
